
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    background-color: #eaebec;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;

    
    
   
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.articulo{
    text-align: center;
    padding: auto;
    margin: 20px;
    
    
}
.articulo :hover{
    
    background-color: #00ffff;
    transition: 2s;
    justify-content: center;
    
    
}
.articulo > img {
    background-color: rgb(240, 232, 232);
    text-align: center;
    width: 200px;
    height: 180px;
 }
 
 .articulo > img {
    background-color: rgb(241, 236, 236);
    text-align: center;
    width: 200px;
    height: 180px;
 }
   
 
 .articulo > img {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 150px;
    height: 130px;
    
 }


  
